Repository backend-study-hammers/backend-study-assignments, pull requests merged in 2021-08, with the labels that each got.

#29 Spring 기본 day4
  binny/core/build.gradle
  binny/core/src/main/java/hello/core/AutoAppConfig.java
  binny/core/src/main/java/hello/core/discount/RateDiscountPolicy.java
  binny/core/src/main/java/hello/core/member/MemberServiceImpl.java
  binny/core/src/main/java/hello/core/member/MemoryMemberRepository.java
  binny/core/src/main/java/hello/core/order/OrderServiceImpl.java
  binny/core/src/test/java/hello/core/autowired/AutowiredTest.java
  binny/core/src/test/java/hello/core/scan/AutoAppConfigTest.java
  binny/core/src/test/java/hello/core/scan/filter/BeanA.java
  binny/core/src/test/java/hello/core/scan/filter/BeanB.java
  binny/core/src/test/java/hello/core/scan/filter/ComponentFilterAppConfigTest.java
  binny/core/src/test/java/hello/core/scan/filter/MyExcludeComponent.java
  binny/core/src/test/java/hello/core/scan/filter/MyIncludeComponent.java
Labels: spring, 비니, 수업 실습, 인프런

#30 upload about source code till lecture 3
  jianny/SpringBoot/core/src/main/java/hello/core/AppConfig.java
  jianny/SpringBoot/core/src/main/java/hello/core/MemberApp.java
  jianny/SpringBoot/core/src/main/java/hello/core/OrderApp.java
  jianny/SpringBoot/core/src/main/java/hello/core/discount/RateDiscountPolicy.java
  jianny/SpringBoot/core/src/main/java/hello/core/member/MemberServiceImpl.java
  jianny/SpringBoot/core/src/main/java/hello/core/order/OrderServiceImpl.java
  jianny/SpringBoot/core/src/test/java/hello/core/discount/RateDiscountPolicyTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/member/MemberServiceTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/order/OrderServiceTest.java
Labels: spring, 수업 실습, 인프런, 지안

#32 Spring 기본 Day 6 code upload
  cherry/Spring-Boot.hello-spring/스프링 기본/core/build.gradle
  cherry/Spring-Boot.hello-spring/스프링 기본/core/src/main/java/hello/core/common/MyLogger.java
  cherry/Spring-Boot.hello-spring/스프링 기본/core/src/main/java/hello/core/order/OrderServiceImpl.java
  cherry/Spring-Boot.hello-spring/스프링 기본/core/src/main/java/hello/core/web/LogDemoController.java
  cherry/Spring-Boot.hello-spring/스프링 기본/core/src/main/java/hello/core/web/LogDemoService.java
  cherry/Spring-Boot.hello-spring/스프링 기본/core/src/main/resources/application.properties
Labels: spring, 수업 실습, 체리

#34 upload about singleton till lecture 5
  jianny/SpringBoot/core/src/main/java/hello/core/AppConfig.java
  jianny/SpringBoot/core/src/main/java/hello/core/member/MemberServiceImpl.java
  jianny/SpringBoot/core/src/main/java/hello/core/order/OrderServiceImpl.java
  jianny/SpringBoot/core/src/test/java/hello/core/singleton/ConfigurationSingletonTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/singleton/SingletonService.java
  jianny/SpringBoot/core/src/test/java/hello/core/singleton/SingletonTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/singleton/StatefulService.java
  jianny/SpringBoot/core/src/test/java/hello/core/singleton/StatefulServiceTest.java
Labels: 수업 실습, 지안, 인프런, spring

#35 upload about component scan and @Autowired till lecture 6 ~ 7
  jianny/SpringBoot/core/build.gradle
  jianny/SpringBoot/core/src/main/java/hello/core/AppConfig.java
  jianny/SpringBoot/core/src/main/java/hello/core/AutoAppConfig.java
  jianny/SpringBoot/core/src/main/java/hello/core/HelloLombok.java
  jianny/SpringBoot/core/src/main/java/hello/core/annotation/MainDiscountPolicy.java
  jianny/SpringBoot/core/src/main/java/hello/core/discount/DiscountPolicy.java
  jianny/SpringBoot/core/src/main/java/hello/core/discount/FixDiscountPolicy.java
  jianny/SpringBoot/core/src/main/java/hello/core/discount/RateDiscountPolicy.java
  jianny/SpringBoot/core/src/main/java/hello/core/member/MemberServiceImpl.java
  jianny/SpringBoot/core/src/main/java/hello/core/member/MemoryMemberRepository.java
  jianny/SpringBoot/core/src/main/java/hello/core/order/OrderServiceImpl.java
  jianny/SpringBoot/core/src/test/java/hello/core/autowired/AllBeanTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/autowired/AutowiredTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/order/OrderServiceImplTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/order/OrderServiceTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/scan/AutoAppConfigTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/scan/filter/BeanA.java
  jianny/SpringBoot/core/src/test/java/hello/core/scan/filter/BeanB.java
  jianny/SpringBoot/core/src/test/java/hello/core/scan/filter/ComponentFilterAppConfigTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/scan/filter/MyExcludeComponent.java
  jianny/SpringBoot/core/src/test/java/hello/core/scan/filter/MyIncludeComponent.java
Labels: 수업 실습, 지안, 인프런, spring

#37 스프링 기본 9까지
  jieuny/springbasic/build.gradle
  jieuny/springbasic/src/main/java/jieuny/springbasic/AppConfig.java
  jieuny/springbasic/src/main/java/jieuny/springbasic/AutoAppConfig.java
  jieuny/springbasic/src/main/java/jieuny/springbasic/annotation/MainDiscountPolicy.java
  jieuny/springbasic/src/main/java/jieuny/springbasic/common/MyLogger.java
  jieuny/springbasic/src/main/java/jieuny/springbasic/discount/FixDiscountPolicy.java
  jieuny/springbasic/src/main/java/jieuny/springbasic/discount/RateDiscountPolicy.java
  jieuny/springbasic/src/main/java/jieuny/springbasic/member/MemberServiceImpl.java
  jieuny/springbasic/src/main/java/jieuny/springbasic/member/MemoryMemberRepository.java
  jieuny/springbasic/src/main/java/jieuny/springbasic/order/OrderServiceImpl.java
  jieuny/springbasic/src/main/java/jieuny/springbasic/web/LogDemoController.java
  jieuny/springbasic/src/main/java/jieuny/springbasic/web/LogDemoService.java
  jieuny/springbasic/src/test/java/jieuny/springbasic/autowired/AllBeanTest.java
  jieuny/springbasic/src/test/java/jieuny/springbasic/autowired/AutoWired.java
  jieuny/springbasic/src/test/java/jieuny/springbasic/beanfind/ApplicationContextExtendsFindTest.java
  jieuny/springbasic/src/test/java/jieuny/springbasic/lifecycle/BeanLifeCycleTest.java
  jieuny/springbasic/src/test/java/jieuny/springbasic/lifecycle/NetworkClient.java
  jieuny/springbasic/src/test/java/jieuny/springbasic/scope/PrototypeTest.java
  jieuny/springbasic/src/test/java/jieuny/springbasic/scope/SingletonTest.java
  jieuny/springbasic/src/test/java/jieuny/springbasic/scope/SingletonWithPrototype.java
  jieuny/springbasic/src/test/java/scan/AutoAppConfigTest.java
  jieuny/springbasic/src/test/java/scan/filter/BeanA.java
  jieuny/springbasic/src/test/java/scan/filter/BeanB.java
  jieuny/springbasic/src/test/java/scan/filter/FilterTest.java
  jieuny/springbasic/src/test/java/scan/filter/MyExludeFilter.java
  jieuny/springbasic/src/test/java/scan/filter/MyIncludeFilter.java
Labels: 수업 실습, spring, 지으니

#38 upload about callback and scope till lecture 8~9
  jianny/SpringBoot/core/build.gradle
  jianny/SpringBoot/core/src/main/java/hello/core/common/MyLogger.java
  jianny/SpringBoot/core/src/main/java/hello/core/logdemo/LogDemoService.java
  jianny/SpringBoot/core/src/main/java/hello/core/web/LogDemoController.java
  jianny/SpringBoot/core/src/main/resources/application.properties
  jianny/SpringBoot/core/src/test/java/hello/core/lifecycle/BeanLifeCycleTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/lifecycle/NetworkClient.java
  jianny/SpringBoot/core/src/test/java/hello/core/scope/PrototypeProviderTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/scope/PrototypeTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/scope/SingletonTest.java
  jianny/SpringBoot/core/src/test/java/hello/core/scope/SingletonWithPrototypeTest1.java
Labels: 수업 실습, 지안, 인프런, spring

#40 individual project1
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/.gitignore
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/build.gradle
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/gradle/wrapper/gradle-wrapper.jar
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/gradle/wrapper/gradle-wrapper.properties
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/gradlew
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/gradlew.bat
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/settings.gradle
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/AutoAppConfig.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/MemberApp.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/MovApplication.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/controller/HomeController.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/controller/PostController.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/domain/posts/PostRepository.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/domain/posts/PostsDto.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/domain/posts/PostsEntity.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/domain/posts/PostsService.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/domain/posts/TimeEntity.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/JpaMemberRepository.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/Member.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/MemberRepository.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/MemberService.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/MemberServiceImpl.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/MemoryMemberRepository.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/resources/application.properties
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/resources/static/home.html
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/resources/templates/posts/list.html
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/resources/templates/posts/update.html
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/resources/templates/posts/write.html
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/test/java/com/cherr/mov/MovApplicationTests.java
Labels: 체리, spring

#41 Individual Project2
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/MemberApp.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/domain/posts/PostsEntity.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/JpaMemberRepository.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/MemberDto.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/MemberEntity.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/MemberRepository.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/MemberService.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/MemberServiceImpl.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/MemberTimeEntity.java
  cherry/Spring-Boot.hello-spring/개인 프로젝트/mov/src/main/java/com/cherr/mov/member/MemoryMemberRepository.java
Labels: 체리, spring, project

#39 individualproject day1
  jieuny/profile/.gitignore
  jieuny/profile/build.gradle
  jieuny/profile/gradle/wrapper/gradle-wrapper.jar
  jieuny/profile/gradle/wrapper/gradle-wrapper.properties
  jieuny/profile/gradlew
  jieuny/profile/gradlew.bat
  jieuny/profile/settings.gradle
  jieuny/profile/src/main/java/individual_project/profile/AutoAppConfig.java
  jieuny/profile/src/main/java/individual_project/profile/ProfileApplication.java
  jieuny/profile/src/main/java/individual_project/profile/SpringConfig.java
  jieuny/profile/src/main/java/individual_project/profile/controller/HomeController.java
  jieuny/profile/src/main/java/individual_project/profile/controller/ProfileController.java
  jieuny/profile/src/main/java/individual_project/profile/controller/ProfileForm.java
  jieuny/profile/src/main/java/individual_project/profile/profile/Profile.java
  jieuny/profile/src/main/java/individual_project/profile/profile/ProfileService.java
  jieuny/profile/src/main/java/individual_project/profile/profile/ProfileServiceImpl.java
  jieuny/profile/src/main/java/individual_project/profile/repository/MemoryProfileRepository.java
  jieuny/profile/src/main/java/individual_project/profile/repository/ProfileRepository.java
  jieuny/profile/src/main/resources/application.properties
  jieuny/profile/src/main/resources/templates/home.html
  jieuny/profile/src/main/resources/templates/profiles/createProfileForm.html
  jieuny/profile/src/main/resources/templates/profiles/profileList.html
  jieuny/profile/src/test/java/individual_project/profile/ProfileApplicationTests.java
  jieuny/profile/src/test/java/individual_project/profile/repository/MemoryProfileRepositoryTest.java
Labels: spring, 지으니, java, project

#42 개인 프로젝트 끝-jpa 오류해결
  jieuny/profile/build.gradle
  jieuny/profile/ddl.sql
  jieuny/profile/sql
  jieuny/profile/src/main/java/individual_project/profile/AutoAppConfig.java
  jieuny/profile/src/main/java/individual_project/profile/SpringConfig.java
  jieuny/profile/src/main/java/individual_project/profile/controller/ProfileController.java
  jieuny/profile/src/main/java/individual_project/profile/controller/ProfileForm.java
  jieuny/profile/src/main/java/individual_project/profile/profile/Profile.java
  jieuny/profile/src/main/java/individual_project/profile/profile/ProfileService.java
  jieuny/profile/src/main/java/individual_project/profile/profile/ProfileServiceImpl.java
  jieuny/profile/src/main/java/individual_project/profile/repository/JpaProfileRepository.java
  jieuny/profile/src/main/java/individual_project/profile/repository/MemoryProfileRepository.java
  jieuny/profile/src/main/java/individual_project/profile/repository/ProfileRepository.java
  jieuny/profile/src/main/resources/application.properties
  jieuny/profile/src/main/resources/templates/profiles/createProfileForm.html
  jieuny/profile/src/test/java/individual_project/profile/repository/MemoryProfileRepositoryTest.java
Labels: spring, 지으니, java, project
